---
title:  "Improvisation"
tags: [music, improvisation, original composition, jazz, garageband, piano]
---

			<p>
	This post contains several completely improvised solo piano songs I recorded on GarageBand 
	between February and April 2014.
</p>

<p>
	In <a href="http://en.wikipedia.org/wiki/Straight-ahead_jazz" 
	target="_blank">straight-ahead jazz</a> (which likely includes a large portion of the jazz music a casual
	jazz fan would listen to), different composed songs are played <a href="#1">[1]</a>. Each song 
	has a composed melody and harmony, and the rhythm and general feel of the song usually come 
	from one or more of few different styles (e.g. swing, bossa nova, waltz, and so on). During some 
	portion of the song, some of the instruments will "solo", whereby they 
	improvise a new melody on top of the composed harmony 
	and rhythm of the song. The improvised melody may be similar to the composed melody, or not, depending on 
	the feel of the song and the style of the improviser. 
</p>
<p>
	This is in contrast to Free Jazz,
	where the composition may offer less melodic, harmonic, and rhythmic guidance (sometimes absolutely none
	at all). The improvised portion of the song forces the soloist to improvise all of these musical elements. Generally, Free Jazz is more atonal and less accessible to 
	someone new to the music <a href="#2">[2]</a>.
</p>
<p>
	The recordings below differ from straight-ahead jazz in that there is no underlying composition
	that I am using as a base for my improvisation. I improvised the melody, harmony,
	and rhythm. I had no pre-conceived ideas what I would play before hitting the 
	"record" button. However, they also differ from what would be considered Free Jazz in that it the songs are
	mostly standard in their use of harmony, and are mostly harmonious <a href="#3">[3]</a>. 
</p>
<p>
	Many of the rhythms are similar throughout each different improvisation. I find improvising rhythms 
	to be the most challenging of the three musical elements, especially while focusing on melody and harmony.
	The harmonies are improvised. I tend to draw on common harmonic patterns, but sometimes not. The melodies
	are almost always improvised (on occasion you may here a familiar sounding melody if it happened to 
	pop into my head).
</p>
<p>
	The biggest influence for these improvised pieces comes from <a href="http://en.wikipedia.org/wiki/Keith_Jarrett" target="_blank">Keith Jarrett</a>.
	 He is famous for performing 
	totally improvised, solo piano concerts. His most famous is the <a href="http://en.wikipedia.org/wiki/The_K%C3%B6ln_Concert" target="_blank">Koln Concert</a> (you should
	<a href="https://myspace.com/keithjarrett1234/music/album/the-k-ln-concert-18160241/85194247" target="_blank">listen to it</a>). I don't know much about how he approaches these improvisations, and I have
	never received any formal training on this style of improvisation. 
</p>
<p>
	Most of the other music I have posted here is older; in other words, a few years passed before 
	I posted it. In that regard, that music passed a sort of test of time to my ears. I'm not sure how I will look back on this music in a few years. In general, I tend to  
	like music I record shortly after I record it, but over time I may come to dislike it. 
</p>
<p>
	As of writing (May 2014), I mostly enjoy this music. It is totally unedited, so you will hear some
	mistakes. It is rough around the edges at times. Parts of it I already don't care for. But there
	are also segments that I really enjoy. Regardless of whether or not I enjoy the music afterwards,
	I greatly enjoy playing it. It can be deeply meditative. Oftentimes, when I stop playing, I
	will have no idea how long I had been playing for.
</p>
<p>
	Have a listen below.
</p>

{% include bandcamp.html url="https://grano.bandcamp.com/track/free-improv-42914" id="3975566800"%}
{% include bandcamp.html url="https://grano.bandcamp.com/track/free-improv-21914" id="1942297865"%}
{% include bandcamp.html url="https://grano.bandcamp.com/track/free-improv-21414" id="2314277554" %}
{% include bandcamp.html url="https://grano.bandcamp.com/track/free-improv-21314" id="1144548067"%}
{% include bandcamp.html url="https://grano.bandcamp.com/track/free-improv-21214" id="2257128296"%}
<p>Footnotes:</p>
<div id="1">
	<p>
		[1] The compositions generally come from showtunes, classic swing or big band tunes, 
		other popular music of the day, as well as compositions by the jazz musicians themselves.
	</p>
</div>
<div id="2">
	<p>
		[2] The seminal Free Jazz album is Ornette Coleman's <a href="http://en.wikipedia.org/wiki/The_Shape_of_Jazz_to_Come" target="_blank">The Shape of Jazz To Come</a>. Recorded in 1959, relative to some of the Free Jazz that this album led to, it sounds
		rather tame and accessible. 
	</p>
</div>
<div id="3">
	<p>
		[3] I say "mostly", because there are definitely some dissonant moments. 
	</p>
</div>
